<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themesground.com/Lotus/V2/HTML/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Apr 2020 13:55:20 GMT -->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>Lotus premium HTML5 & CSS3 Template</title>

    <!-- Bootstrap Core CSS -->
    @*<link rel="stylesheet" href="/css/bootstrap.min.css">*@
    <!-- Customizable CSS -->
    @*<link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/blue.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.transitions.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/rateit.css">
        <link rel="stylesheet" href="/css/bootstrap-select.min.css">*@

    <!-- Icons/Glyphs -->
    @*<link rel="stylesheet" href="/css/font-awesome.css">*@
    <link href="~/css/bundle.css" rel="stylesheet" />
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">

    <mini-profiler />

    <style>
        .text-wraping:hover {
            text-overflow: clip;
            white-space: normal;
            word-break: break-all;
            direction: rtl;
            text-align: right;
        }

        .text-wraping {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            direction: rtl;
        }
    </style>



    <!-- ============================================== HEADER ============================================== -->
    <header class="header-style-1">

        <!-- ============================================== TOP MENU ============================================== -->
        <div class="top-bar animate-dropdown">
            <div class="container">
                <div class="header-top-inner">
                    <div class="cnt-account">
                        <ul class="list-unstyled">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">My Cart</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                    <!-- /.cnt-account -->

                    <div class="cnt-block">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">INR</a></li>
                                    <li><a href="#">GBP</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-small">
                                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">English </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /.list-unstyled -->
                    </div>
                    <!-- /.cnt-cart -->
                    <div class="offer-text">Save up to 12% everyday on all products</div>
                    <div class="clearfix"></div>
                </div>
                <!-- /.header-top-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.header-top -->
        <!-- ============================================== TOP MENU : END ============================================== -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <div class="logo"> <a href="@Url.Action("index","home")"> <img src="/images/logo.png" alt="logo"> </a> </div>
                        <!-- /.logo -->
                        <!-- ============================================================= LOGO : END ============================================================= -->
                    </div>
                    <!-- /.logo-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
                        <!-- /.contact-row -->
                        <!-- ============================================================= SEARCH AREA ============================================================= -->
                        @await Component.InvokeAsync("TopSearch")
                        

                        <!-- /.search-area -->
                        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                    </div>
                    <!-- /.top-search-holder -->

                    <div id="shopcart" class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row">
                        <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
                        @await Component.InvokeAsync("ShopCart")

                        <!-- /.dropdown-cart -->
                        <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
                    </div>
                    <!-- /.top-cart-row -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.main-header -->
        <!-- ============================================== NAVBAR ============================================== -->


        @await Component.InvokeAsync("Navbar")

        <!-- /.header-nav -->
        <!-- ============================================== NAVBAR : END ============================================== -->

    </header>

    <!-- ============================================== HEADER : END ============================================== -->
    <div class="body-content outer-top-vs" id="top-banner-and-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 sidebar">
                    <!-- ================================== TOP NAVIGATION ================================== -->
                    @await Component.InvokeAsync("LeftCategory")
                    <!-- /.side-menu -->
                    <!-- ================================== TOP NAVIGATION : END ================================== -->
                </div>

                @await Component.InvokeAsync("Slider")

            </div>

            <div class="row">
                <!-- ============================================== SIDEBAR ============================================== -->
                <!-- /.sidemenu-holder -->
                <!-- ============================================== SIDEBAR : END ============================================== -->
                <!-- ============================================== CONTENT ============================================== -->

                @RenderBody()

                <!-- /.homebanner-holder -->
                <!-- ============================================== CONTENT : END ============================================== -->

                <div class="col-xs-12 col-sm-12 col-md-3 sidebar">



                    <!-- ============================================== HOT DEALS ============================================== -->
                    <!-- ============================================== HOT DEALS: END ============================================== -->
                    <!-- ============================================== SPECIAL OFFER ============================================== -->
                    <!-- /.sidebar-widget -->
                    <!-- ============================================== SPECIAL OFFER : END ============================================== -->
                    <!-- ============================================== PRODUCT TAGS ============================================== -->
                    @await Component.InvokeAsync("LastProductTags")

                    <!-- /.sidebar-widget -->
                    <!-- ============================================== PRODUCT TAGS : END ============================================== -->
                    <!-- ============================================== SPECIAL DEALS ============================================== -->
                    <!-- /.sidebar-widget -->
                    <!-- ============================================== SPECIAL DEALS : END ============================================== -->
                    <!-- ============================================== NEWSLETTER ============================================== -->
                    <div class="sidebar-widget newsletter wow fadeInUp outer-bottom-small" style="margin-top:10px;margin-bottom:10px;">
                        <h3 class="section-title" style="direction:rtl;text-align:right">اطلاع رسانی</h3>
                        <div class="sidebar-widget-body outer-top-xs">
                            <p style="direction:rtl;text-align:right">اطلاع رسانی برای دریافت جدیدترین اخبار و تخفیفات سایت</p>
                            <form>
                                <div class="form-group" style="direction:rtl;text-align:right">
                                    <label class="sr-only" for="exampleInputEmail1">آدرس ایمیل</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="آدرس ایمیل خود را وارد کنید">
                                </div>
                                <button type="button" onclick="NewsLetterSign()" class="btn btn-primary">ثبت</button>
                            </form>
                        </div>
                        <!-- /.sidebar-widget-body -->
                    </div>
                    <!-- /.sidebar-widget -->
                    <!-- ============================================== NEWSLETTER: END ============================================== -->
                    <!-- ============================================== Testimonials============================================== -->

                    @await Component.InvokeAsync("LastComments")
                    <!-- ============================================== Testimonials: END ============================================== -->

                </div>

            </div>
            <!-- /.row -->
            <!-- ============================================== BRANDS CAROUSEL ============================================== -->
            <div id="brands-carousel" class="logo-slider wow fadeInUp">
                <div class="logo-slider-inner">
                    <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
                        <div class="item m-t-15"> <a href="#" class="image"> <img data-echo="/images/brands/brand1.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item m-t-10"> <a href="#" class="image"> <img data-echo="/images/brands/brand2.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="/images/brands/brand3.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="/images/brands/brand4.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="/images/brands/brand5.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="/images/brands/brand6.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="/images/brands/brand2.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="/images/brands/brand4.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="/images/brands/brand1.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="/images/brands/brand5.png" src="/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->
                    </div>
                    <!-- /.owl-carousel #logo-slider -->
                </div>
                <!-- /.logo-slider-inner -->

            </div>
            <!-- /.logo-slider -->
            <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#top-banner-and-menu -->
    <!-- ============================================================= FOOTER ============================================================= -->
    <footer id="footer" class="footer color-bg" style="position:inherit">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Contact Us</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class="toggle-footer" style="">
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p>Themesstock, 789 Main rd, Anytown, CA 12345 USA</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p>
                                            +(888) 123-4567<br>
                                            +(888) 456-7890
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body"> <span><a href="#">lotus@themesstock.com</a></span> </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Customer Service</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a href="#" title="Contact us">My Account</a></li>
                                <li><a href="#" title="About us">Order History</a></li>
                                <li><a href="#" title="faq">FAQ</a></li>
                                <li><a href="#" title="Popular Searches">Specials</a></li>
                                <li class="last"><a href="#" title="Where is my order?">Help Center</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Corporation</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a title="Your Account" href="#">About us</a></li>
                                <li><a title="Information" href="#">Customer Service</a></li>
                                <li><a title="Addresses" href="#">Company</a></li>
                                <li><a title="Addresses" href="#">Investor Relations</a></li>
                                <li class="last"><a title="Orders History" href="#">Advanced Search</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Why Choose Us</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a href="#" title="About us">Shopping Guide</a></li>
                                <li><a href="#" title="Blog">Blog</a></li>
                                <li><a href="#" title="Company">Company</a></li>
                                <li><a href="#" title="Investor Relations">Investor Relations</a></li>
                                <li class=" last"><a href="contact-us.html" title="Suppliers">Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-padding social">
                    <ul class="link">
                        <li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li>
                        <li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
                        <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li>
                        <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
                        <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding">
                    <div class="clearfix payment-methods">
                        <ul>
                            <li><img src="/images/payments/1.png" alt=""></li>
                            <li><img src="/images/payments/2.png" alt=""></li>
                            <li><img src="/images/payments/3.png" alt=""></li>
                            <li><img src="/images/payments/4.png" alt=""></li>
                            <li><img src="/images/payments/5.png" alt=""></li>
                        </ul>
                    </div>
                    <!-- /.payment-methods -->
                </div>
            </div>
        </div>
    </footer>


    <!--        modal     -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="direction:rtl;text-align:right">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p class="modal-body-ms" style="direction:rtl;text-align:right">Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
            </div>

        </div>
    </div>




    <!-- ============================================================= FOOTER : END============================================================= -->
    <!-- For demo purposes – can be removed on production -->
    <!-- For demo purposes – can be removed on production : End -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/echo.min.js"></script>
    <script src="/js/jquery.easing-1.3.min.js"></script>
    <script src="/js/bootstrap-slider.min.js"></script>
    <script src="/js/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="/js/lightbox.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/scripts.js"></script>


    <script type="text/javascript">




        function NewsLetterSign() {

            var dataf = {
                email: $('#email').val().trim()
            };

            $.ajax({
                url: '@Url.Action("AddNewsLetter","BaseWork")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(dataf),
                success: function (msg) {
                    if (msg == "accept") {
                        $('#myModal').modal('hide');
                        $('#myModal').modal('show');
                        $('.modal-title').text('پذیرش');
                        $('.modal-body-ms').text('ایمیل شما با موفقیت ثبت شد');
                    } else if (msg == "Email Is Not Valid") {
                        $('#myModal').modal('hide');
                        $('#myModal').modal('show');
                        $('.modal-title').text('عدم پذیرش');
                        $('.modal-body-ms').text('ایمیل وارد شده صحیح نمیباشد');
                    } else if (msg == "reject") {
                         $('#myModal').modal('hide');
                        $('#myModal').modal('show');
                        $('.modal-title').text('عدم پذیرش');
                        $('.modal-body-ms').text('در ثبت نام شما مشکلی به وجود آمده است.لطفا مدتی دیگر مجددا امتحان فرمایید. (اگر شما قبلا ثبت نام انجام داده اید ، ثبت نام مجدد نیاز نیست) ');
                    }


                    console.log(msg);
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });

            return false;

        }



        function RevealHiddenOverflow(d) {
            if (d.style.overflow == "hidden") { d.style.overflow = "visible"; }
            else { d.style.overflow = "hidden"; }
        }
    </script>

    <script>
        function AddFromCart(id,count=1) {

            var ShopCartCoockie = {
                Productid: String(id),
                count: String(count)
            };
            $.ajax({
                 url: '@Url.Action("AddToCoockie","product")',
                contentType: 'application/json',
                data: JSON.stringify(ShopCartCoockie),
                type: 'post',
                success: function (result) {
                    if (result == "add") {
                        var container = $("#shopcart");
                        $.get("/product/ShopCartRefresh", function (data) { container.html(data); });

                    } else if (result == "false") {
                        $('#myModal').modal('hide');
                        $('#myModal').modal('show');
                        $('.modal-title').text('افزودن به سبد خرید مقدور نمیباشد');
                        $('.modal-body-ms').text(result);
                    }
                }
            });
        }


        function RemoveFromCart(id) {

            $.ajax({
                 url: '@Url.Action("RemoveFromCookie","product")',
                contentType: 'application/json',
                data: JSON.stringify(id),
                type: 'post',
                success: function (result) {
                    if (result == "remove") {
                        var container = $("#shopcart");
                        $.get("/product/ShopCartRefresh", function (data) { container.html(data); });
                       
                    }
                }
            });
        }
    </script>

    @RenderSection("scripts", false)

</body>

<!-- Mirrored from themesground.com/Lotus/V2/HTML/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Apr 2020 13:59:36 GMT -->
</html>