@model List<FeaturedProductViewModel>




<section class="section featured-product wow fadeInUp">
    <h3 class="section-title" style="direction:rtl;text-align:right;margin-right:50px;">محصولات ویژه</h3>
    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
        @foreach (var item in Model)
        {
            <div class="item item-carousel" style="text-align:right">
                <div class="products">
                    <div class="product">
                        <div class="product-image">
                            <div class="image"> <a asp-action="ShowPost" asp-controller="product" asp-route-id="@item.Id" asp-route-slug="@item.Slug"><img src="/images/products/@item.BaseImage" alt="@item.Name"></a> </div>
                            <!-- /.image -->

                            <div class="tag hot"><span>ویژه</span></div>
                        </div>
                        <!-- /.product-image -->

                        <div class="product-info text-left">
                            <h3 class="name" style="text-align:center"><a asp-action="ShowPost" asp-controller="product" asp-route-id="@item.Id" asp-route-slug="@item.Slug">@item.Name</a></h3>
                           
                            <div class="description"></div>
                            <div class="product-price" style="text-align:center"> <span class="price">@item.Price ريال </span>  </div>
                            <!-- /.product-price -->

                        </div>
                        <!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                            <div class="action">
                                <ul class="list-unstyled">
                                    <li class="add-cart-button btn-group">
                                        <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                                        <button class="btn btn-primary cart-btn" type="button">اضافه کردن به سبد خرید</button>
                                    </li>
                                    </ul>
                            </div>
                            <!-- /.action -->
                        </div>
                        <!-- /.cart -->
                    </div>
                    <!-- /.product -->

                </div>
                <!-- /.products -->
            </div>
        }

        <!-- /.item -->
        <!-- /.item -->
    </div>
    <!-- /.home-owl-carousel -->
</section>