@model ProductDto

@{
}

<style>
    .padding-10 {
        padding: 10px;
    }

    .right-text {
        text-align: right;
        direction: rtl;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align:center;margin-top: 20px;padding: 5px;background-color: #eee;border-radius: 10px;font-size: 16px;font-weight: 500;direction:rtl">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">@Model.Group?.Category?.Text</a></li>
                    <li class="breadcrumb-item"><a href="#">@Model.Group?.Text</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                </ol>
            </nav>
        </div>
    </div>
</div>



<div class=" single-product" style="margin-top:30px;">

    <div class='col-md-9'>
        <div class="detail-block">
            <div class="row  wow fadeInUp">

                <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
                    <div class="product-item-holder size-big single-product-gallery small-gallery">

                        <div id="owl-single-product">
                            @{
                                int counter = 1;
                            }
                        
                            <div class="single-product-gallery-item" id="slide@(counter)">
                                <a data-lightbox="image-@counter" data-title="Gallery" href="/images/products/@Model.BaseImage">
                                    <img class="img-responsive" alt="" src="/images/blank.gif" data-echo="/images/products/@Model.BaseImage" />
                                </a>
                            </div><!-- /.single-product-gallery-item -->

                            @foreach (var item in Model.Images)
                            {
                                counter++;
                                <div class="single-product-gallery-item" id="slide@(counter)">
                                    <a data-lightbox="image-@counter" data-title="Gallery" href="/images/products/@item.ImageUrl">
                                        <img class="img-responsive" alt="" src="/images/blank.gif" data-echo="/images/products/@item.ImageUrl" />
                                    </a>
                                </div><!-- /.single-product-gallery-item -->

                            }

                        </div><!-- /.single-product-slider -->


                        <div class="single-product-gallery-thumbs gallery-thumbs">

                            <div id="owl-single-product-thumbnails">
                                @{
                                    counter = 1;
                                }
                                <div class="item">
                                    <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="@counter" href="#slide@(counter)">
                                        <img class="img-responsive" width="85" alt="" src="/images/blank.gif" data-echo="/images/products/@Model.BaseImage" />
                                    </a>
                                </div>

                                @foreach (var item in Model.Images)
                                {
                                    counter++;

                                    <div class="item">
                                        <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="@counter" href="#slide@(counter)">
                                            <img class="img-responsive" width="85" alt="" src="/images/blank.gif" data-echo="/images/products/@item.ImageUrl" />
                                        </a>
                                    </div>
                                }

                            </div><!-- /#owl-single-product-thumbnails -->



                        </div><!-- /.gallery-thumbs -->

                    </div><!-- /.single-product-gallery -->
                </div><!-- /.gallery-holder -->
                <div class='col-sm-6 col-md-7 product-info-block' style="direction:rtl;text-align:right">
                    <div class="product-info">
                        <h1 class="name">@Model.Name</h1>

                        <div class="rating-reviews m-t-20">
                            <div class="row">
                                @*<div class="col-sm-3">
                                        <div class="rating rateit-small"></div>
                                    </div>*@
                                <div class="col-sm-8">
                                    <div class="reviews">
                                        <a href="#" class="lnk">(@Model.Comments.Count نظر)</a>
                                    </div>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.rating-reviews -->

                        <div class="stock-container info-container m-t-10">
                            <div class="row">
                                <div class="col-sm-11">
                                    <div class="stock-box">
                                        <span class="label">تعداد موجودی : @Model.Count</span>
                                    </div>
                                </div>

                            </div><!-- /.row -->
                        </div><!-- /.stock-container -->

                        <div class="description-container m-t-20">

                        </div><!-- /.description-container -->

                        <div class="price-container info-container m-t-20">
                            <div class="row">

                                @*<div class="col-sm-6">
                                        <div class="favorite-button m-t-10">
                                            <a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Wishlist" href="#">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                            <a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Add to Compare" href="#">
                                                <i class="fa fa-signal"></i>
                                            </a>
                                            <a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="E-mail" href="#">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>*@

                                <div class="col-sm-6">
                                    <div class="price-box">
                                        <span class="price">@Model.Price.ToRial()</span>
                                    </div>
                                </div>



                            </div><!-- /.row -->
                        </div><!-- /.price-container -->

                        <div class="quantity-container info-container">
                            <div class="row">

                                <div class="col-sm-3">
                                    <input value="1" type="number" id="replyNumber" min="1" max="@Model.Count" step="1" data-bind="value:replyNumber" style="width:100%" />
                                </div>



                                <div class="col-sm-2">
                                    <span class="label">تعداد :</span>
                                </div>

                                <div onclick="AddProductToCart()" class="col-sm-7">
                                    <a class="btn btn-primary"><i class="fa fa-shopping-cart inner-right-vs"></i> اضافه کردن به سبر خرید</a>
                                </div>


                            </div><!-- /.row -->
                        </div><!-- /.quantity-container -->






                    </div><!-- /.product-info -->
                </div><!-- /.col-sm-7 -->
            </div><!-- /.row -->
        </div>

        <div class="product-tabs inner-bottom-xs  wow fadeInUp">
            <div class="row">

                <div class="col-sm-9">

                    <div class="tab-content">

                        <div id="description" class="tab-pane in active">
                            <div class="product-tab">
                                <p class="text right-text" style="font-size:16px;font-weight:500">
                                    @Model.Summery
                                </p>
                            </div>
                        </div><!-- /.tab-pane -->

                        <div id="review" class="tab-pane right-text">
                            <div class="product-tab">

                                <div class="product-reviews">
                                    <h4 class="title" style="text-align:center">نظرات</h4>

                                    <div class="reviews">
                                        @foreach (var item in Model.Comments)
                                        {
                                            <div class="review">

                                                <div class="review-title"><span class="summary">@item.Name</span><span class="date"><i class="fa fa-calendar"></i><span>@item.PublishDate.ToShortDateString()</span></span></div>
                                                <div class="text" style="font-size:15px;font-weight:500">"@item.Text"</div>
                                            </div>

                                        }

                                    </div><!-- /.reviews -->
                                </div><!-- /.product-reviews -->



                                <div class="product-add-review">
                                    <h4 class="title" style="text-align:center">ارسال نظر</h4>

                                    <div class="review-form">
                                        <div class="form-container">
                                            <form role="form" class="cnt-form">

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputName">نام <span class="astk">*</span></label>
                                                            <input type="text" class="form-control txt" id="name" placeholder="نام و نام خانوادگی">
                                                        </div><!-- /.form-group -->
                                                        <div class="form-group">
                                                            <label for="exampleInputSummary">ایمیل <span class="astk">*</span></label>
                                                            <input type="email" class="form-control txt" id="email" placeholder="آدرس ایمیل">
                                                        </div><!-- /.form-group -->
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputReview">نظر <span class="astk">*</span></label>
                                                            <textarea class="form-control txt txt-review" id="comment" rows="4" placeholder="نظر"></textarea>
                                                        </div><!-- /.form-group -->
                                                    </div>
                                                </div><!-- /.row -->

                                                <div class="action text-right">
                                                    <button type="button" onclick="SendComment()" class="btn btn-primary btn-upper">ارسال نظر</button>
                                                </div><!-- /.action -->

                                            </form><!-- /.cnt-form -->
                                        </div><!-- /.form-container -->
                                    </div><!-- /.review-form -->

                                </div><!-- /.product-add-review -->

                            </div><!-- /.product-tab -->
                        </div><!-- /.tab-pane -->

                        <div id="Information" class="tab-pane">
                            <div class="product-tag">

                                <h4 class="title" style="text-align:center">مشخصات محصول</h4>



                                <table class="table table-dark" style="direction:rtl;text-align:right">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="right-text">#</th>
                                            <th scope="col" class="right-text">نام مشخصه</th>
                                            <th scope="col" class="right-text">مقدار مشخصه</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            counter = 0;
                                        }

                                        @foreach (var item in Model.Details)
                                        {
                                            <tr>
                                                <th scope="row" class="right-text padding-10">@counter</th>
                                                <td class="right-text padding-10">@item.Name</td>
                                                <td class="right-text padding-10">@item.Value</td>
                                            </tr>
                                            counter++;
                                        }

                                    </tbody>
                                </table>

























                            </div><!-- /.product-tab -->
                        </div><!-- /.tab-pane -->

                    </div><!-- /.tab-content -->
                </div><!-- /.col -->
                <div class="col-sm-3">
                    <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
                        <li class="active"><a data-toggle="tab" href="#description">توضیحات درباره محصول</a></li>
                        <li><a data-toggle="tab" href="#Information">مشختصات محصول</a></li>
                        <li><a data-toggle="tab" href="#review">نظرات</a></li>
                    </ul><!-- /.nav-tabs #product-tabs -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.product-tabs -->


        <div class="sidebar-widget product-tag wow fadeInUp animated" style="margin-top: 10px; direction: rtl; text-align: right; visibility: visible; animation-name: fadeInUp;">
            <h3 class="section-title">کلمات کلیدی این محصول</h3>
            <div class="sidebar-widget-body outer-top-xs">
                <div class="tag-list">

                    @foreach (var item in Model.Keywords)
                    {
                        <a class="item" title="@item.Text" asp-route="ProductSearch" asp-route-keyword="@item.Text">
                            @item.Text
                        </a>
                    }


                </div>
                <!-- /.tag-list -->
            </div>
            <!-- /.sidebar-widget-body -->
        </div>

    </div>


</div>


@section scripts{

    <script>

        function SendComment() {

        var Commentdata = {
            Email: $('#email').val().trim(),
            name: $('#name').val().trim(),
            Text: $('#comment').val().trim()

            };

        $.ajax({
            url: '@Url.Action("SaveCommnet","product",new {postid=Model.Id })',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(Commentdata),
            success: function (result) {

                if (result == "Email Is Not Valid") {

                    $('#myModal').modal('hide');
                    $('#myModal').modal('show');
                    $('.modal-title').text('عدم پذیرش');
                    $('.modal-body-ms').text('ایمیل وارد شده صحیح نمیباشد');

                } else if (result == "success") {

                     $('#myModal').modal('hide');
                    $('#myModal').modal('show');
                    $('.modal-title').text(' پذیرش');
                    $('.modal-body-ms').text('نظر شما با موفقیت ثبت شد و پس از تایید مدیریت ، در سایت نمایش داده میشود.با تشکر از شما');

                } else {

                       $('#myModal').modal('hide');
                        $('#myModal').modal('show');
                    $('.modal-title').text('عدم پذیرش');
                    $('.modal-body-ms').text(result);

                }

            }
        });
    }





    </script>
    <script>

        
        function AddProductToCart() {
            
            if ($('#replyNumber').val().trim() >@Model.Count) {
                 $('#myModal').modal('hide');
                 $('#myModal').modal('show');
                 $('.modal-title').text('تعداد انتخابی از تعداد کل موجودی بیشتر است');
                $('.modal-body-ms').text(result);
                return;
            }
            AddFromCart(@Model.Id, $('#replyNumber').val().trim());

            @*var ShopCartCoockie = {
                Productid : '',
                count : $('#replyNumber').val().trim()
            };

            $.ajax({
                url: '@Url.Action("AddToCoockie","product")',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(ShopCartCoockie),
                success: function (result) {
                    if (result == "add") {
                        var container = $("#shopcart");
                        $.get("/product/ShopCartRefresh", function (data) { container.html(data); });

                    } else if (result == "false") {

                    }
                }
            });*@
        }


    </script>

}
